.track {
	width: fit-content;
	height: fit-content;
	place-self: center;
	position: relative;
}
.track img {
	width: 100%;
	height: 100%;
}
.inactive {
	transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
}
.track > p {
	font-family: fantasy;
	font-weight: 700;
	padding: 0.2rem;
	position: absolute;
	margin: 1rem;
}
