.h1 {
	font-size: 4rem;
	font-family: Lucida Handwriting;
	margin-bottom: 2rem;
}
.form {
	display: flex;
	flex-flow: column;
}

.form input {
	border: none;
	border-bottom: 2px black solid;
	background: none;
	width: 70%;
}
.form *:not(input, textarea) {
	font-size: large;
}
.form input:focus {
	outline: none;
}
.form > * {
	margin: 0.5rem;
}
.message {
	display: flex;
	flex-flow: column nowrap;
}
.message > textarea {
	border: 2px black solid;
	height: 6rem;
	width: 80%;

	margin: 1rem;
	background: none;
}
.button {
	font-family: "Courier New", Courier, monospace;
	background-color: #9e3434;
	display: inline-block;
	width: fit-content;
	padding: 0.5rem 1.5rem;
	border: 1px black solid;
	border-radius: 5px;
	box-shadow: 3px -3px #6e1e1e;
}
.button:hover {
	background-color: #c04141;
	box-shadow: 3px -3px #962c2c;
}
.button:active {
	transform: translateX(3px) translateY(-3px);
	box-shadow: none;
}
.buttonContainer {
	margin-top: 2rem;
	margin-right: 2rem;
	text-align: right;
}
.cookies > input {
	width: fit-content;
	height: auto;
}
.cookies * {
	margin-right: 1rem;
}
.cookies > label {
	font-size: small;
}

@media (max-width: 600px) {
	.h1 {
		font-size: 2rem;
		font-family: Lucida Handwriting;
		margin-bottom: 2rem;
	}
	.form > * {
		margin: 0;
	}
	.form input {
		font-size: 0.5rem;
	}
	.message > textarea {
		height: 2rem;
	}
	.button {
		width: 5rem;
		height: 2rem;
		padding: 0;
	}
	.cookies > label {
		font-size: 0.5rem;
	}
	.form input:not([type="checkbox"]) {
		width: 25vw;
	}
}
