.collabContainer {
	background-image: url(../../assets/about/papel.jpg);
	padding: 2rem 3rem;
	border-radius: 30px;
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 35rem;
	height: fit-content;
	display: flex;
	flex-flow: column;
}
.image {
	position: absolute;
	width: 22.3rem;
	height: 24.8rem;
	top: -5%;
	right: -50%;
}
@media (max-width: 600px) {
	.image {
		width: 10rem;
		height: 10rem;
		right: -30%;
		top: -10%;
	}
	.collabContainer {
		width: 90vw;
		height: fit-content;
	}
}
