/* COMMON ELEMENTS */

.p {
	grid-row: 3;
	grid-column: 1;
}
/*  */
/* ABOUT SLIDE */
/* .about-title {
	position: relative;
	font-size: 96px;
} */
.about-title {
	font-size: 5rem;
}
.about-paragraph {
	color: black;
}
/*  */
/* WORK SLIDE */
.work-title {
	position: relative;
	left: 16rem;
	font-size: 96px;
}
.work-paragraph {
	grid-row: 3;
	grid-column: 1;
}
/*  */
/* CONCERTS SLIDE */
.concerts-title {
	position: relative;
	left: 16rem;
	font-size: 96px;
}
.concerts-paragraph {
	grid-row: 3;
	grid-column: 1;
}
