/* COMMON ELEMENTS*/
.reference {
	position: relative;
	width: 467px;
	height: 467px;
}
.reference > * {
	position: absolute;
}
.reference > svg {
	width: 80%;
	height: 80%;
}

@media (max-width: 600px) {
	.reference {
		order: 0;
		width: 100vw;
		height: 100vw;
	}

	.reference[name="concerts"] {
		width: 80vw;
		height: 80vw;
	}
	.reference[name="work"] {
		width: 70vw;
		height: 70vw;
	}
	.reference > svg {
		display: none;
	}
}
