html {
	box-sizing: border-box;
}
body {
	background-image: url("../assets/about/papel.jpg");
}
*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: "Homemade Apple", cursive;
}
/* PROVISIONAL */
button {
	border: none;
	background-color: inherit;
	z-index: 3;
}
a {
	text-decoration: none;
	color: black;
	z-index: 1;
}
#__next {
	position: relative;
}
.ReactModal__Body--open {
	overflow: hidden;
}
.ReactModal__Overlay {
	overflow: scroll;
}
